<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string></string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array/>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
		<key>UIAppFonts</key>
		<array>
			<string>InstrumentSerif-Italic.ttf</string>
			<string>InstrumentSerif-Regular.ttf</string>
		</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Remin uses your microphone to record your daily voice journal entries.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Remin uses your photo library so you can choose a profile picture.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Remin uses speech recognition to transcribe your recorded journal entries.</string>
		<key>UTImportedTypeDeclarations</key>
		<array>
			<dict>
			<key>UTTypeDescription</key>
			<string></string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
